//- this comment DOES NOT appear in HTML
// this comment DOES appears in HTML 
p= 'This is me'
//- this is a multi line comment that DOES NOT render in the HTML
// this is a multi line comment that DOES render in the HTML
p= 'This is my <b>Dog</b>'
p!= 'This is my <strong>French Bulldog</strong>'