p this is my paragraph #[span this is fun]
|
|
p this is my paragraph #[span(class='awesome-class') this is fun]
|
|
p
  | I can write cool stuff
  | cause I am really ruff
  | this is my awesome rime
  | and I can sell it with a dime