//- include menu
.menu
  a.menu-link(href="/extends") Home
  a.menu-link(href="/extends/about-me.html") About me
  a.menu-link(href="/extends/contact.html") Contact
  a.menu-link(href="/extends/portfolio.html") Portfolio
